<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Nome do Personagem"/></h1>
      <div class="resource-row">
        <div class="resource">
          <label class="resource-label">Raça</label>
          <input type="text" name="system.raca" value="{{system.raca}}" placeholder="Raça"/>
        </div>
        <div class="resource">
          <label class="resource-label">Classe</label>
          <input type="text" name="system.classe" value="{{system.classe}}" placeholder="Classe"/>
        </div>
        <div class="resource">
          <label class="resource-label">Nível</label>
          <input type="number" name="system.nivel.value" value="{{system.nivel.value}}" min="1" max="10"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="principal">Principal</a>
    <a class="item" data-tab="habilidades">Habilidades</a>
    <a class="item" data-tab="magias">Magias</a>
    <a class="item" data-tab="equipamentos">Equipamentos</a>
    <a class="item" data-tab="biografia">Biografia</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Principal Tab --}}
    <div class="tab principal" data-group="primary" data-tab="principal">
      <div class="grid grid-2col">
        
        {{!-- Atributos --}}
        <div class="atributos">
          <h3>Atributos</h3>
          <div class="atributo-grid">
            <div class="atributo">
              <label>Físico</label>
              <div class="atributo-container">
                <input type="number" name="system.fisico.value" value="{{system.fisico.value}}" min="1" max="10" data-dtype="Number"/>
                <button type="button" class="attribute-roll" data-attribute="fisico" title="Clique para rolar teste de Físico">
                  <i class="fas fa-dice-d6"></i>
                </button>
              </div>
            </div>
            <div class="atributo">
              <label>Ação</label>
              <div class="atributo-container">
                <input type="number" name="system.acao.value" value="{{system.acao.value}}" min="1" max="10" data-dtype="Number"/>
                <button type="button" class="attribute-roll" data-attribute="acao" title="Clique para rolar teste de Ação">
                  <i class="fas fa-dice-d6"></i>
                </button>
              </div>
            </div>
            <div class="atributo">
              <label>Mental</label>
              <div class="atributo-container">
                <input type="number" name="system.mental.value" value="{{system.mental.value}}" min="1" max="10" data-dtype="Number"/>
                <button type="button" class="attribute-roll" data-attribute="mental" title="Clique para rolar teste de Mental">
                  <i class="fas fa-dice-d6"></i>
                </button>
              </div>
            </div>
            <div class="atributo">
              <label>Social</label>
              <div class="atributo-container">
                <input type="number" name="system.social.value" value="{{system.social.value}}" min="1" max="10" data-dtype="Number"/>
                <button type="button" class="attribute-roll" data-attribute="social" title="Clique para rolar teste de Social">
                  <i class="fas fa-dice-d6"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        {{!-- Recursos --}}
        <div class="recursos">
          <h3>Recursos</h3>
          
          {{!-- Pontos de Vida --}}
          <div class="resource">
            <label class="resource-label">Pontos de Vida</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="number" name="system.pv.value" value="{{system.pv.value}}" min="0" max="{{system.pv.max}}" data-dtype="Number"/>
              <span> / </span>
              <input type="number" name="system.pv.max" value="{{system.pv.max}}" min="1" data-dtype="Number"/>
            </div>
          </div>

          {{!-- Pontos de Magia --}}
          <div class="resource">
            <label class="resource-label">Pontos de Magia</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="number" name="system.pm.value" value="{{system.pm.value}}" min="0" max="{{system.pm.max}}" data-dtype="Number"/>
              <span> / </span>
              <input type="number" name="system.pm.max" value="{{system.pm.max}}" min="0" data-dtype="Number"/>
            </div>
          </div>

          {{!-- Defesa --}}
          <div class="resource">
            <label class="resource-label">Defesa</label>
            <div class="resource-content flexrow flex-center flex-between">
              <span class="resource-value">{{system.defesa.value}}</span>
            </div>
          </div>

          {{!-- Botões de Descanso --}}
          <div class="rest-buttons">
            <button type="button" class="quick-rest" title="Recupera metade dos PV e PM">
              <i class="fas fa-bed"></i> Descanso Rápido
            </button>
            <button type="button" class="long-rest" title="Recupera todos os PV e PM">
              <i class="fas fa-moon"></i> Descanso Longo
            </button>
          </div>
        </div>
      </div>

      {{!-- Moedas --}}
      <div class="moedas">
        <h3>Moedas</h3>
        <div class="moeda-grid">
          <div class="moeda">
            <label>Cobre</label>
            <input type="number" name="system.recursos.moedas.cobre" value="{{system.recursos.moedas.cobre}}" min="0" data-dtype="Number"/>
          </div>
          <div class="moeda">
            <label>Prata</label>
            <input type="number" name="system.recursos.moedas.prata" value="{{system.recursos.moedas.prata}}" min="0" data-dtype="Number"/>
          </div>
          <div class="moeda">
            <label>Ouro</label>
            <input type="number" name="system.recursos.moedas.ouro" value="{{system.recursos.moedas.ouro}}" min="0" data-dtype="Number"/>
          </div>
        </div>
      </div>
    </div>

    {{!-- Habilidades Tab --}}
    <div class="tab habilidades" data-group="primary" data-tab="habilidades">
      <div class="items-header">
        <h3>Habilidades</h3>
        <a class="item-control" data-action="create" data-type="habilidade" title="Criar Habilidade">
          <i class="fas fa-plus"></i>
        </a>
      </div>
      <ol class="items-list">
        {{#each habilidades as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-name flexrow">
            <div class="item-image">
              <a class="rollable" data-roll-type="habilidade" data-item-id="{{item._id}}" title="Clique para usar">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
              </a>
            </div>
            <h4>{{item.name}}</h4>
          </div>
          <div class="item-controls">
            <a class="item-control" data-action="edit" title="Editar Item">
              <i class="fas fa-edit"></i>
            </a>
            <a class="item-control" data-action="delete" title="Deletar Item">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>

    {{!-- Magias Tab --}}
    <div class="tab magias" data-group="primary" data-tab="magias">
      <div class="items-header">
        <h3>Magias</h3>
        <a class="item-control" data-action="create" data-type="magia" title="Criar Magia">
          <i class="fas fa-plus"></i>
        </a>
      </div>
      <ol class="items-list">
        {{#each magias as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-name flexrow">
            <div class="item-image">
              <a class="rollable" data-roll-type="magia" data-item-id="{{item._id}}" title="Clique para conjurar">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
              </a>
            </div>
            <h4>{{item.name}}</h4>
          </div>
          <div class="item-cost">{{item.system.custoMP}} PM</div>
          <div class="item-controls">
            <a class="item-control" data-action="edit" title="Editar Item">
              <i class="fas fa-edit"></i>
            </a>
            <a class="item-control" data-action="delete" title="Deletar Item">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>

    {{!-- Equipamentos Tab --}}
    <div class="tab equipamentos" data-group="primary" data-tab="equipamentos">
      <div class="items-header">
        <h3>Equipamentos</h3>
        <div class="equipment-actions">
          <a class="item-control" data-action="create" data-type="arma" title="Criar Arma">
            <i class="fas fa-sword"></i>
          </a>
          <a class="item-control" data-action="create" data-type="armadura" title="Criar Armadura">
            <i class="fas fa-shield-alt"></i>
          </a>
          <a class="item-control" data-action="create" data-type="equipamento" title="Criar Equipamento">
            <i class="fas fa-plus"></i>
          </a>
        </div>
      </div>
      
      {{!-- Armas --}}
      <div class="items-section">
        <h4>Armas</h4>
        <ol class="items-list">
          {{#each armas as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flexrow">
              <div class="item-image">
                <a class="rollable" data-roll-type="arma" data-item-id="{{item._id}}" title="Clique para atacar">
                  <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                </a>
              </div>
              <h4>{{item.name}}</h4>
            </div>
            <div class="item-damage">{{item.system.dano}}</div>
            <div class="item-equipped">
              <input type="checkbox" class="item-toggle" {{#if item.system.equipado}}checked{{/if}} title="Equipar/Desequipar"/>
            </div>
            <div class="item-controls">
              <a class="item-control" data-action="edit" title="Editar Item">
                <i class="fas fa-edit"></i>
              </a>
              <a class="item-control" data-action="delete" title="Deletar Item">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </li>
          {{/each}}
        </ol>
      </div>

      {{!-- Armaduras --}}
      <div class="items-section">
        <h4>Armaduras</h4>
        <ol class="items-list">
          {{#each armaduras as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flexrow">
              <div class="item-image">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
              </div>
              <h4>{{item.name}}</h4>
            </div>
            <div class="item-defense">+{{item.system.defesa}}</div>
            <div class="item-equipped">
              <input type="checkbox" class="item-toggle" {{#if item.system.equipado}}checked{{/if}} title="Equipar/Desequipar"/>
            </div>
            <div class="item-controls">
              <a class="item-control" data-action="edit" title="Editar Item">
                <i class="fas fa-edit"></i>
              </a>
              <a class="item-control" data-action="delete" title="Deletar Item">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </li>
          {{/each}}
        </ol>
      </div>

      {{!-- Outros Equipamentos --}}
      <div class="items-section">
        <h4>Outros Equipamentos</h4>
        <ol class="items-list">
          {{#each equipamentos as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flexrow">
              <div class="item-image">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
              </div>
              <h4>{{item.name}}</h4>
            </div>
            <div class="item-quantity">{{item.system.quantidade}}</div>
            <div class="item-controls">
              <a class="item-control" data-action="edit" title="Editar Item">
                <i class="fas fa-edit"></i>
              </a>
              <a class="item-control" data-action="delete" title="Deletar Item">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>

    {{!-- Biografia Tab --}}
    <div class="tab biografia" data-group="primary" data-tab="biografia">
      <div class="biografia-section">
        <label>Antecedente</label>
        <input type="text" name="system.antecedente" value="{{system.antecedente}}" placeholder="Antecedente do personagem"/>
      </div>
      <div class="biografia-section">
        <label>Aparência</label>
        <textarea name="system.detalhes.aparencia" placeholder="Descreva a aparência do personagem">{{system.detalhes.aparencia}}</textarea>
      </div>
      <div class="biografia-section">
        <label>Personalidade</label>
        <textarea name="system.detalhes.personalidade" placeholder="Descreva a personalidade do personagem">{{system.detalhes.personalidade}}</textarea>
      </div>
      <div class="biografia-section">
        <label>História</label>
        <textarea name="system.detalhes.historia" placeholder="Conte a história do personagem">{{system.detalhes.historia}}</textarea>
      </div>
    </div>

  </section>
</form> 